.App{
  display: flex;
  flex-direction: column;
  margin: .5cm;
  margin-right: 1cm;
}

a{
  padding: 10px;
  color: black;
  background-color: lightgray;
  border-radius: 5px;
  font-style: normal;
}

.sidenav{
  display: none;
}

.topnav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topnav img{
  width: 3cm;
  height: 3cm;
  border-radius: 1cm;
}

.contactInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.project{
  display: flex;
}

.projects img{
  width: 3cm;
  height: 3cm;
}


@media screen and (min-width: 750px){

  .topnav{
    display: none;
  }

  .tiny{
    display: none;
  }

  .sidenav{
    height: 90%;
    width: 30%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-bottom: 2cm;
  }

  .sidenav img{
    width: 6cm;
    height: 6cm;
    border-radius: 2cm;
  }

  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 5%;
    top: 0;
    width: 70%;
    margin-left: 30%;
  }

  .projects img{
    width: 5cm;
    height: 5cm;
  }
  
  a:hover{
    transform: scale(1.2);
  }

}


@font-face {
  font-family: 'dotGoth';
  src: url('../../DotGothic16-Regular.ttf')
  }
