body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'slab', 'dotGoth', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  height: 100%;
}

body {
  overflow-x: hidden;
  margin-left: 0;
}

@font-face {
  font-family: 'dotGoth';
  src: url('DotGothic16-Regular.ttf')
  }

  @font-face{
    font-family: 'slab';
    src: url('RobotoSlab-VariableFont_wght.ttf');
  }